.intro {
    margin: 0 auto;
    padding: 92px 0;
    max-width: 984px;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .intro {
        width: calc(100% - 96px);
    }
}
@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 0;
        width: calc(100% - 48px);
    }
}
@media screen and (max-width: 768px) {
    .intro {
        padding: 64px 0;
        width: calc(100% - 32px);
    }
}