.cover {
    margin: 0 auto;
    max-width: 1184px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cover:hover .cover__overlay {
    background-color: rgba(42, 44, 47, .8);
    transition: background-color .3s ease;
}